/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require entypo
 *= require_tree .
 */

// VARS

$narrow-sans-serif: 'Open Sans Condensed', 'Helvetica Neue', Arial, Sans-Serif;
$sans-serif: 'Open Sans', 'Helvetica Neue', Arial, Sans-Serif;
$serif: 'Roboto Slab', Georgia, 'Times New Roman', Serif;

$dark: #333;
$gray: #777;
$light: #f5f5f5;


// MIXINS

@mixin border-radius($n) {
  -webkit-border-radius: $n;
  -moz-border-radius: $n;
  border-radius: $n;
}

// IMPORTS

//@import "bootstrap";


// DAT SHIT

body, html {
	width:100%;
	height:100%;
  font-family: $serif;
}

a, a:hover, a:visited, a:active, a:focused {
  text-decoration: none; // get rid of the shitty fucking underlines, seriously
}

hr {
  background-color: $light - #111;
  height:1px;
  border: none;
  margin-top: 15px; margin-bottom: 15px;
}

#main {
	width: 100%;
	height: 100%;
  display: inline-block;
}

.container {
	width: 100%;
	//padding: 50px 0;
	text-align: center;
}

.section {
  border-bottom: 1px solid $light - #111;
}

.mainEvent {
	color: #fff;
	font-family: $narrow-sans-serif;
	background-size: cover;
	background-repeat: none;
	padding-top: 250px;
  padding-bottom: 250px;
	background-color: #000;

	small {
		text-transform: uppercase;
		font-size: 14pt;
    letter-spacing: 3px;
	}

	h1 {
		font-size: 80pt;
		line-height: 1.3em;
		text-transform: uppercase;
		letter-spacing: 4px;
	}

	p {
		font-family: $serif;
		font-weight: 300;
		font-size: 15pt;
    line-height: 18pt;
	}
}

.button {
  display: inline-block;
  font-size: 14pt;
  font-weight: 300;
  font-family: $serif;
  @include border-radius(4px);
  border: solid 1px #fff;
  padding: 15px 45px;
  text-decoration: none;
  color: #fff !important;
  margin-top: 35px;
  opacity: 0.6;

  &:hover {
      opacity: 1;
      background-color: inherit;
      text-decoration: none;
  }
}

.news {

  h3 {
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 2px;
    font-size: 18pt;
    text-transform: uppercase;
  }

  article {
    padding-top: 50px;

    h4 {
      font-family: $serif;
      font-size: 14pt;
      font-weight: 400;
    }

    small {
      text-transform: uppercase;;
      color: $gray;
    }
  } // 

  article:last-child {
    padding-bottom: 50px;
  }
} // news

.footer {
  padding-top: 50px;
}

// typography

.center {
	text-align: center;
}

[class^="icon-"],
[class*=" icon-"] {
  color: $dark;
}




