// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*!
 * DSO Website v2
 *
 * Copyright 2013 Dartmouth Symphony Orchestra
 *
 * Designed and built with all the love in the world by sang, allison, and avery
 */

/* NAVIGATION STYLES */

a.brand {
  font-weight: 800 !important;
  font-size: 12pt !important;
}

/* HERO STYLES */

.hero {
  width: 100%;
  min-height: 600px;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: #fff;
}

.hero-inner {
  position: relative;
  top: 150px;
}

.hero {
  h4 {
    margin-bottom: 25px;
  }
  h1 {
    margin-bottom: 50px;
    font-size: 60px;
    line-height: 60px;
  }
}

.overlay-color {
  width: 100%;
  min-height: 600px;
  max-height: 100%;
}

@media (max-width: 979px) and (min-width: 768px) {
  .hero {
    top: -20px;
    position: relative;
  }
  .hero-inner {
    top: 100px;
  }
}

@media (max-width: 767px) {
  .hero {
    padding: 0 20px;
    left: -20px;
    top: -20px;
    position: relative;
  }
  .overlay-color {
    width: 100%;
    min-height: 600px;
    max-height: 100%;
    padding: 0 20px;
    left: -20px;
    position: relative;
  }
  .hero-inner {
    top: 100px;
    text-align: center;
  }
}

/* TICKER */

.ticker {
  margin: 20px 0;
}

/* FOOTER */

.footer {
  margin-top: 40px;
}

.bottom-border {
  border-bottom: 1px solid #ccc;
}

.medium {
  font-weight: 600;
}
